* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
}

.button {
    border-radius: 30px;
    width: 30px;
    border: none;
    height: 30px;
}

#up {
    position: absolute;
    top: 3%;
    right: 50%;
}

#down {
    position: absolute;
    bottom: 3%;
    right: 50%;
}

img {
    max-width: 100%;
    width: 700px;
    height: 500px;
}

.active {
    display: block;
}

.hidden {
    display: none;
}